name: Master Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: devkitpro/devkita64

    steps:
    - uses: actions/checkout@v4
    - name: make
      run: make
